= form_for @project_subelement do |f|
  - if @project_subelement.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project_subelement.errors.count, "error")} prohibited this subelement from being saved:"
      %ul
        - @project_subelement.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :status
    = f.select :status, options_for_select(Project::Status.select_options)
  .field
    = f.label :finished
    = check_box_tag :subelement_is_finished
    .subelement_finished_hidden
    = f.datetime_select :finished
  .actions.subelement_submit
    = f.submit 'Save'
