= form_for @form_subelement do |f|
  - if @form_subelement.errors.any?
    #error_explanation
      %h2= "#{pluralize(@form_subelement.errors.count, "error")} prohibited this @form_subelement from being saved:"
      %ul
        - @form_subelement.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :status
    = f.select :status, options_for_select([["Completed", @form_subelement.COMPLETED],["In Progress", @form_subelement.IN_PROGRESS],["Future", @form_subelement.FUTURE],["Default", @form_subelement.DEFAULT]])
  .field
    = f.label :finished
    = check_box_tag :subelement_is_finished
    .subelement_finished_hidden
    = f.datetime_select :finished
  .actions.subelement_submit
    = f.submit 'Save'
