=form_for @form_element do |f|
  - if @form_element.errors.any?
    #error_explanation
      %h2= "#{pluralize(@form_element.errors.count, "error")} prohibited this element from being saved:"
      %ul
        - @form_element.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :status
    = f.select :status, options_for_select( |
      [ |
      ["Complete", @form_element.COMPLETED], |
      ["In Progress", @form_element.IN_PROGRESS], |
      ["Future", @form_element.FUTURE], |
      ["Default", @form_element.DEFAULT] |
      ] |
      ) |

  .field
    = f.label :finished
    = check_box_tag :element_is_finished, true
    .element_finished_hidden
      = f.datetime_select :finished
  .field
    = f.label :body
    = f.text_field :body
  .actions.element_submit
    = f.submit 'Save'