= form_for @project do |f|
  - if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :body
    = f.text_field :body
  .field
    = f.label :started
    = f.dateime_field :started
  .field
    = f.label :finished
    = f.datetime_field :finished
  .field
    = f.label :icon
    = f.text_field :icon
  .actions.project_submit
    = f.submit 'Save'
